@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

ul,
ol {
  margin: 0;
}

p {
  margin: 0;
}

html,
body {
  color: rgb(41, 102, 233);
  font-size: 100%;
  padding: 2em 3em;
}

body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.header {
  background: #fff;
  padding: 2em 0;
}

.logo {
  float: left;
  width: 100px;
}

.menu {
  float: right;
  margin-top: 10px;
}

.menu li {
  display: inline-block;
}

.navbar-left {
  width: 100px;
}

.menu li a {
  display: block;
  font-size: 1em;
  color: purple;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-transform: uppercase;
  font-weight: 600;
}

.menu li a:hover {
  color: #e4551d;
  background: #fff;
}

.nav:before,
.nav:after {
  content: " ";
  display: table;
}

.nav:after {
  clear: both;
}

.nav ul {
  list-style: none;
}

.sort {
  display: flex;
  justify-content: center;
}

.sort-text {
  margin-right: 10px;
  font-size: 1.2rem;
}

.svi-telefoni {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opis {
  font-size: 1rem !important;
  text-align: justify;
}

.ocena-id {
  font-size: 1.1rem !important;
}

.calendar-icon {
  margin-right: 10px;
}

.telefon-ocena {
  font-size: 1.1rem !important;
}

.star-icon {
  margin-right: 10px;
}

.navbar-custom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-input {
  margin: 5px 0px 15px 0px;
}

.telefon-opis {
  text-align: justify;
}

.sve-ocene {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a:focus {
  outline: 0px;
}

.fa {
  color: #7cc4cc;
}

.about {
  background: white;
}

.title-section {
  position: relative;
  padding-top: 25px;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 25px;
}

.title-section h1 {
  margin: 0 0 5px 0;
  line-height: 58px;
  font-size: 32px;
  font-weight: 500;
  color: #000;
}

.title-header {
  margin-left: 20px;
}

.title-section ul {
  background: none;
  position: relative;
  margin: 0;
  padding: 9px 0 10px 0;
  border-top: 1px solid #597275;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.title-section ul li {
  line-height: 18px;
  font-size: 13px;
  color: #5f6775;
}

.title-section ul li a {
  color: #fff;
}

.form-group label {
  color: #777;
}

.blog_sidebar {
  padding: 5px 20px 0 70px;
  margin-top: 3em;
}

.blog_grid {
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2.post_title {
  margin-bottom: 0 !important;
  font-size: 2em;
  text-align: center;
}

h2.post_title a {
  color: #555;
}

h2.post_title a:hover {
  text-decoration: none;
  color: #e4551d;
}

.blog_grid p {
  font-size: 1em;
  line-height: 1.5em;
  color: #777;
  margin-top: 1em;
}

ul.links {
  padding: 0px 0px 20px 0px;
  border-bottom: 1px solid #eee;
  margin: 10px 0 0 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul.links li.last {
  float: right;
}

ul.links li {
  color: #999;
  font-size: 0.85em;
  display: inline-block;
  margin-right: 20px;
}

ul.links li a {
  color: #999;
}

.fa-calendar {
  color: #7cc4cc;
}

/* ---------- Lista telefona ---------- */

ul.sidebar {
  padding: 0;
  list-style: none;
  margin-bottom: 50px;
}

ul.sidebar h3 {
  font-size: 25px;
  font-weight: 500;
  color: #7cc4cc;
  margin: 0 0 1em 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #eee;
}

ul.sidebar li {
  margin: 0 0 10px 0;
  list-style-type: none;
}

ul.sidebar li a {
  color: #999;
  font-size: 1em;
}

@media (max-width: 480px) {
  .logo {
    margin-top: 12px;
    width: 100px;
  }

  .header {
    padding: 0.5em 0;
  }

  .nav {
    top: 70px;
  }
}